# FORMAT
# Put your extra requirements here in the following format
#
# package[version_required]: tag1, tag2, ...

ultralytics==8.1.11:             ultralytics
dill==0.3.8:                     ultralytics
paddleocr==2.7.0.3:              paddle
paddlepaddle==2.6.1:         paddle
python-doctr[torch] @ git+https://github.com/mindee/doctr.git@8c85c3654e4ae0a045a990d6f23973bc26d3483c: doctr
